.HeaderContainer {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    position: fixed;
    height: 7vh;
    width: 100%;
    z-index: 999;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(102, 78, 78);
}

.HeaderLeftSection {
    display: flex;
    width: 500px;
    margin-left: 30px;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    min-width: 180px;
}

.HeaderLeftSection div {
    margin-top: auto;
    margin-bottom: auto;
}

.HeaderLeftSection img {
    display: inline-block;
}

.LogoText {
    display: block;
}



/*--------------*/

.HeaderRightSection {
    display: flex;
    width: 400px;
}

.HeaderRightSection div {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
}

.HeaderRightSection div:hover {
    color: white;
    cursor: pointer;
    background-color: rgb(172, 126, 126);
    padding: 5px 10px;

}

.HeaderRightSection div:active {
    background-color: rgb(152, 112, 112);
}

.LogInButton {
    background-color: #fde4dc;
    border: 1px rgb(187, 136, 136) solid;
    border-radius: 4px;
    padding: 4px 10px;
    min-width: 60px;
}



@media (max-width:750px) {
    .HeaderContainer {
        flex-direction: column;
        position: none;
    }

    .HeaderLeftSection {
        justify-content: center;
        margin-top: 4px;
        margin-left: 10px;
    }

    .HeaderRightSection {
        flex-direction: column;
        width: 100vw;
        margin-top: 6px;
        align-items: center;

    }

    .HeaderRightSection div {
        width: 100%;
        background-color: #fcb69f;
        opacity: 0.7;
        text-align: center;
        border: 1px rgb(152, 152, 152) solid;
        height: 50px;
        margin-top: -1px;
        padding-top: 10px;
        padding-bottom: 0px;

    }


}