.PictureGridContainer {
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    position: absolute;
    top: 51vh;

    width: 100%;
    height: 349px;

    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 50px;
    justify-content: center;
}

.PictureGridContainer div {
    background-color: rgba(197, 197, 197, 0.912);
    height: 310px;
    margin-top: 20px;
    border-radius: 0 0 5px 5px;
    font-weight: bold;

}

.PictureGridContainer img {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;

}


@media (max-width:750px) {
    .PictureGridContainer {
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .PictureGridContainer div {
        margin-left: auto;
        margin-right: auto;
    }


}

@media (min-width:751px) and (max-width:999px) {
    .PictureGridContainer {
        grid-template-columns: 1fr 1fr;


    }
}

@media (max-width:1000) {
    .PictureGridContainer {
        grid-template-columns: 1fr 1fr;
    }
}